* {
    border: rgb(230, 34, 34) solid 2px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #706e6e;
    color: black;
}

h1 {
    background-color: #5e5c5c;
    padding: 15px 0px 0px 20px ;
}

.page-select {
    background-color: rgb(47, 176, 24);
    display: flex;
    position: absolute;
    right: 0;
    top: 20px;
} 


